body{
    background-image:url('Imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Opcional: la imagen no se mueve al hacer scroll */
    height: 100vh; /* Asegura que cubra toda la altura */
    margin: 0;
}
.menu-pri {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #dadce0;
    padding: 10px 20px;
    background-color:  floralwhite;
}

.menu-pri a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding-bottom: 8px;
}

.menu-pri a:hover {
    color: #202124;
}

.menu-pri .activo {
    color: #1a73e8;
    border-bottom: 3px solid #1a73e8;
    font-weight: 500;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul{
 list-style: none;
}

.bloque-oscuro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-links{
    background-color: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0px;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer{
    background-color: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0px;
    text-align: center;
    padding-bottom: 20px;
}

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0px 30px;
}

.links a i{
    font-size: 3rem;
}