body{
    background-image:url('Imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Opcional: la imagen no se mueve al hacer scroll */
    height: 100vh; /* Asegura que cubra toda la altura */
    margin: 0;
}
.menu-pri {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #dadce0;
    padding: 10px 20px;
    background-color:  floralwhite;
}

.menu-pri a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding-bottom: 8px;
}

.menu-pri a:hover {
    color: #202124;
}

.menu-pri .activo {
    color: #1a73e8;
    border-bottom: 3px solid #1a73e8;
    font-weight: 500;
}

.portada img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}