body{
    background-image:url('Imagenes/Fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
.menu-pri {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    gap: 25px;
    border-bottom: 1px solid #dadce0;
    padding: 10px 20px;
    background-color:  floralwhite;
}

.menu-pri a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding-bottom: 8px;
}

.menu-pri a:hover {
    color: #202124;
}

.menu-pri .activo {
    color: #1a73e8;
    border-bottom: 3px solid #1a73e8;
    font-weight: 500;
}

.portada img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul{
 list-style: none;
}

.footer-links{
    background-color: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0px;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer{
    background-color: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0px;
    text-align: center;
    padding-bottom: 20px;
}

.new-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0px;
}

.Atajos img {
    padding-left: 50px;
    width: 100%;
    height: 180px;
}

.new-cards h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px;
}
.new-cards p{
    text-align: center;
}

.cosita{
    padding-bottom: 30px;
}

.new-cards a{
    padding: 10px 0px;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.new-cards a:hover{
    text-decoration: underline;
}


.cards-banner-one{
    width: 100%;
    height: 550px;
    background: url(..//Imagenes/Banner2.jpg)no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 40%;
    padding: 90px 0px 0px 30px;
    color: #ffffff;
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0px 20px 0px;
}

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0px 30px;
}

.links a i{
    font-size: 3rem;
}